 $w:1349px;
$auto:1226px;

.container{
  width:$auto;
  margin: auto;
}
.header-wrap{
  width: $w;
  // height: 260px;
  margin: auto;
.header{
  margin: auto;
   width: $w;
   height: 260px;
   .banner{
    width: 100%;
    height: 120px;
    position: relative;
    a{
      display: block;
      background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/375fc7ed8765a8f4c6a3abd91eb838a5.jpg?w=5120&h=240);
      position: absolute;
       top: 0;
       width: 100%;
       height: 120px;
       background-repeat: no-repeat;
       background-position: 50%;
       background-size: auto 120px;
       text-indent: -9999px;
   }
}
  
.site-topbar {
    width: 100%;
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
    .container{
      width:$auto;
      margin: auto;
      height: 40px;
      .topbar-nav{
        width: 794px;
        height: 40px;
        float: left;
        height: 40px;
        line-height: 40px;
        a{
          color: #b0b0b0;
          line-height: 40px;
          display: inline-block;
          &:hover{
            color:white;
          }
        }
        span{
          margin: 0 .3em;
          color: #424242;
   
        }
      }
      .topbar-cart{
        position: relative;
        float: right;
        width: 120px;
        height: 40px;
        margin-left: 15px;
        -webkit-transition: all .2s;
        transition: all .2s;
        font-size: 12px;
        a{
          color: #fff;
          background: #ff6700;
          position: relative;
          z-index: 32;
          display: block;
          height: 40px;
          line-height: 40px;
          text-align: center;
          &:hover{
            background-color: white;
            color:#ff6700 ;
          }
         em{
            margin-right: 4px;
            font-size: 20px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            vertical-align: -4px
          }
          .hide{
            display: none;
          }
        }
       
        }
        .topbar-info{
          position: relative;
          float: right;
          width: 142px;
          height: 40px;
          line-height: 40px;
          a{
            color: #b0b0b0;
            line-height: 40px;
            display: inline-block;
            &:hover{
              color: white;
            }
          }
          span{
                color: #424242;
          }
      }
      }
    }
    .site-header{
      height: 100px;
      .container{
        height: 100%;
        .header-logo{
          margin-top: 20px;
          position: relative;
          float: left;
          width: 55px;
          height: 55px;
          background-color: #ff6700;
          a{
            text-indent: -999px; 
          }
          em{
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 10;
            font-size: 30px;
            color: white;
          }
        }
        .header_nav{
          float: left;
          width: 850px;
          height: 100px;
          .nav-list{
            position: relative;
            z-index: 10;
            float: left;
            width: 1100px;
            height: 88px;
            margin: 0;
            padding: 12px 0 0 30px;
            list-style-type: none;
            font-size: 16px;
            margin-left: 100px;
            li{
              float: left;
              line-height: 100px;
              font-size: 16px;
              margin: 0 12px;
              color: black;
              &:hover{
                  color:#ff6700 ;
              }
    
            }
          }
        }
        .header_search{
          float: right;
          width: 296px;
          margin-top: 25px;
          .search_form{
            position: relative;
            width: 296px;
            height: 50px;
            z-index: 2;
           
            .search_btn{
              position: absolute;
              right: 0;
              top: 0;
              border: 1px solid #e0e0e0;
              outline: 0;
              z-index: 2;
              width: 52px;
              height: 50px;
              font-size: 24px;
              line-height: 24px;
              background: #fff;
              color: #616161;
              cursor: pointer;
              &:hover{
                z-index: 20;
                background:#ff6700  ;
              }
              
            }
            .icon-fangdajing{
              position: absolute;
              font-size: 26px;
              right: 16px;
              top: 10px;
              z-index: 10;
              color: #616161;
              &:hover{
                color:#ff6700  ;
              }
              
            }
            #search{
              width: 245px;
              height: 48px;
              border: 1px solid #ccc;
             
            }
            .search-text{
              right: 51px;
              z-index: 1;
              width: 223px;
              height: 48px;
              padding: 0 10px;
              font-size: 14px;
              line-height: 48px;
            }
    
          }
        }
  }
}


    

    .show{
      display: none;
      width:$auto;
      background: white;
     margin: auto;
      border-top: 1px solid #ccc;
      position: absolute;
      top: 260px;
      width: 1226px;
      height: 201px;
      ul{
        float: left;
        li{
          margin-top: 20px;
          position: relative;
          text-align: center;
          font-size: 12px;
          width: 204px;
          height: 201px;
          float: left;
          span{
            margin-top: 10px;
            display: block;
            color: black;
            line-height: 20px;
          }
          p{
            color: orange;
          }
          img{
            width: 160px;
            height: 110px;
          }
        }
        .line:after{
        position: absolute;
      left: 0;
       top: 15px;
       z-index: 1;
       width: 1px;
       height: 100px;
        content: "";
      background-color: #e0e0e0
        }
      }
    }
  }
} 


.lunbo{
  position: relative;
  width: 1226px;
  height: 460px;
  background: grey;
  overflow: hidden;
  margin-bottom: 20px;
  .img-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 8582px;
    height: 460px;
    li{
      float: left;
      img{
        width: 1226px;
        height: 460px;
      }
    }
  }
  .lunbo-nav-list{
    position: absolute;
    right: 50px;
    bottom: 50px;
    li{
      background: rgba(0,0,0, 0);
      float: left;
      width: 10px;
      height: 10px;
      border: 1px  solid #ccc;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
      text-align: center;
    }
    .active {
      background: black;
  }
  }
  #arr {
    opacity: 0;  
    cursor: pointer;
   }  
  .toLeft{
    position: absolute;
    left: 240px;
    top: 230px;
    font-size: 40px;
    background-color:rgba(0,0,0, 0.8) ;
    color: rgba(0,0,0, 1);
   
  }
  .toRight{
    position: absolute;
    right: 20px;
    top: 230px;
    font-size: 40px;
    background-color:rgba(0,0,0, 0.8) ;
    color: rgba(0,0,0, 1);
  }
  .menu{
    position: absolute;
    left: 0;
    top: 0;
   height: 460px;
   width: 234px;
   background: rgba(0,0,0, 0.2);
   ul{
    margin: 30px 0;
    li{
      position: relative;
      display: block;
      height: 40px;
      width: 234px;
      line-height: 40px;
      a{
        color: white;
        margin-left: 20px;
      }
      em{
        position: absolute;
        right: 10px;
        color: white;
        font-size: 18px;
    }
    &:hover{
      background: orange;
     }
     }
    }
  } 
  .menu-list{
    display: none; 
    border: 1px solid #ccc;
    width:992px ;
    height: 460px;
    position: absolute;
    left: 234px;
    top: 0;
    background:white;
    ul{
      float: left;
      li{
        padding-left: 48px;
        width: 200px;
        float: left;
        height: 76px;
        line-height: 70px;
        a{
          margin:  0 auto;
          display: block;
          color: black;
          &:hover{
            color: coral;
          }
          i{
            margin-left: 5px;
        }
      }
    }
  }
 }
}
.home_row{
  height:170px ;
  width: 1240px;
  margin-top: 14px;
  margin-bottom: 26px;
  .span1{
    float: left;
    width: 234px;
    height: 170px;
    background: #333;
    opacity: 0.8;
    .row_list{
      float: left;
      .lei:before {
        width: 64px;
        height: 1px;
        position: absolute;
       right: 3px;
        content: "";
        background: #665e57;
    }
    .boss:after {
      width: 1px;
      height: 70px;
      position: absolute;
      top: 6px;
      content: "";
      background: #665e57;
    }
      li{
        position: relative;
          float: left;
          width: 70px;
          height: 82px;
          padding: 0 3px; 
          font-size: 12px;
          img{
            opacity: 0.5;
            display: block;
            width: 24px;
            height: 24px;
            margin: 0 auto 4px;
            &:hover{
              opacity: 1;
              color: white;
            }
        }
        span{
          margin-top: 8px;
          text-align: center; 
          display: block;
      }
      a{
        width: 70px;
        height: 64px;
        margin-top: 14px; 
        display: block;
        &:hover{
          color: white;
        }
    }
 }
  }
 }
 .span2{
  float:right;
  
  ul{
    float: right;
    li {
      margin-left: 15px;
      float: left;
      width: 312px;
      height: 170px;
      a img{
        width: 312px;
        height: 170px;
     }
  }
 }

 }
}
.main-wrap{
  margin: auto;
  width: $w;
  background: #f5f5f5;
  .main{
    .boxheader{
      height: 398px;
      // background: salmon; 
      margin-bottom: 22px;
      position: relative;
      .box-hd{
        position: relative;
        height: 58px;
        -webkit-font-smoothing: antialiased;
        .title{
          margin: 0;
          font-size: 22px;
          font-weight: 200;
          line-height: 58px;
          color: #333
      }
      .left{
        position: absolute;
        right: 30px;
        top: 29px;
        display: inline-block;
        width: 24px;
        height: 16px;
        padding: 3px 5px;
        border: 1px solid #e0e0e0;
        font-size: 16px;
        line-height: 16px;
        color: #b0b0b0;
        text-align: center;
        cursor: pointer;
    }
    .right{
      position: absolute;
      right: 0px;
      top: 29px;
      display: inline-block;
      width: 14px;
      height: 16px;
      padding: 3px 5px;
      border: 1px solid #e0e0e0;
      font-size: 16px;
      line-height: 16px;
      color: #b0b0b0;
       text-align: center; 
       padding-left: 10px;
      cursor: pointer;
  }
    }
    .box-main{
      width: 1226px;
      height: 340px;
      /* background: sandybrown;*/
      .row{
        position: relative;
        width: 100%;
        height: 340px;
        .span3{
          /* display: none; */
          position: absolute;
          left: 0;
         top: 0;
          width: 234px;
          border-top: 1px solid red;
          height: 300px;
          padding-top: 39px;
          border-top-width: 1px;
          border-top-style: solid;
          background: #f1eded;
          text-align: center;
          float: left;
          min-height: 1px;
          z-index: 100;
          .run{
            width: 234px;
            height: 46px;
            font-size: 21px;
            color: #ef3a3b;
            padding-top: 15px;
            i{
              font-size: 60px;
              color: red;
              margin: 0 auto;
          }
        }
        desc{
          width: 234px;
          height: 22px;
          line-height: 22px;
          color: rgba(0,0,0,.54);
          font-size: 15px;
          margin-top: 20px;
      
      }
      .time{
        width: 168px;
        height: 46px;
        margin: 28px auto 0 ;
        text-align: center;
        ol .on{
          width: 15px;
          height: 46px;
          line-height: 46px;
      }
      ol .pan{
        width: 46px;
        height: 46px;
        background: #605751;
        color: #fff;
        font-size: 24px;
        line-height: 46px;
    }
    ol li{
      float: left;
  }
    }
      }
      .animate-wrap{
        width: 1226px;
        overflow: hidden;
      .animate{
        width: 1240px;
        height: 340px;
        position: relative;
        overflow: hidden;
        ul{
          width: 3968px;
          float: left;

          li{
            float: left;
            width: 234px;
            height: 340px;
           background: white;
           color: #757575;
           margin-right: 14px;
           text-align: center;
         
        }
        .cloum a{
          display: block;
          p{
            margin-top: 20px;
            color: #ff6700;
        }
        h3{
          margin-top: 20px;
       }
       span{
        margin-top: 20px;
         color: #ccc;
         font-size: 12px;
    }
      }
      }
    }
    }
  }
   } 
   
  }
  .banner img{
    width: 1226px;
    height: 120px;
    margin: 22px 0;
     }
     .shouji{
      position: relative;
      height: 58px;
      width: 1226px;
      h3{
        margin: 0;
        font-size: 22px;
        font-weight: 200;
        line-height: 58px;
        color: #333
    }
    .more {
      position: absolute;
      right: 0;
      top: 29px;
      a{
        display: block;
        font-size: 16px;
        color: #424242;
        &:hover{
          color: #ff6700;
        }
        i{
          font-size: 18px;
          padding-left: 5px;
      }
    }
     }
   }
   .box-list{
    position: relative;
    width: 1226px;
    height: 628px;
    .box-left img{
      width: 234px;
      height: 614px;
      margin-bottom: 14px;
      &:hover{
          box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
      }
     }
     .box-right{
      position: absolute;
      top: -14px;
      left: 234px;
      width: 992px;
      height: 614px;
      margin-bottom: 14px;
      ul{
        float: left;
        li{
          background-color: white;
          text-align: center;
          margin-left: 14px;
           padding: 20px 0;
          width: 234px;
          height: 260px;
          float: left;
          margin-top:14px ;
          &:hover{
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
          }
          p{
            color: #ff6700;
            margin:  0 10px;
            margin-top: 10px;
           }
           span{
            color: #ccc;
            font-size: 12px;
            margin: 0 10px;
           }
           img{
             width: 160px;
             height: 160px;
            margin-top: -10px;
        }
      }
    }
     }
   }
   
   .jiadian{
    height: 58px;
    h3{
      float: left;
      margin: 0;
      font-size: 22px;
      font-weight: 200;
      line-height: 58px;
      color: #333;
  }
  .table-list ul{
    float: right;
    li{
      font-size: 16px;
      line-height:58px ;
    color: #424242;
    float: left;
    &:hover{
      color: #ff6700;
    }
  }
  .li1{
    margin: 0 30px;
  }
   } 
 }
 .row li:hover{
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
 }
 .row{
  width: 1226px;
  height: 628px;
  .row-left{
    float: left;
    width: 234px;
    height: 628px;
    ul li{
      margin-bottom: 14px;
      img{
        width: 234px;
        height: 300px;
      }
  }
 }
 .row-right{
  width:992px ;
  float: right;
  overflow: hidden;
  .show-none{
    display: none;
   }

  ul{
    float: left;
    li {
      text-align: center;
      margin-left: 14px;
      background: white;
      float: left;
      width: 234px;
      height: 260px;
      float: left;
      padding: 20px 0;
      margin-bottom: 14px;
      img{
        margin-top: -10px;
        width: 160px;
        height: 160px;
    }
    h3{
      margin-top: -10px;
      margin-bottom: 3px;
  }
  del{
    margin-left: 5px;
} 
p{
  color: #ff6700;
  margin:  0 10px;
  margin-top: 10px;
}
span{
  color: #ccc;
  font-size: 12px;
  margin: 0 10px;

}
  }
  .lio{
    position: relative;
    background: rgb(245, 245, 245);
    width: 234px;
    margin: 0 ;
    margin-left: 14px;
    padding: 0;
    height: 300px;
    .top{
      margin-left: 14px;
      margin: 0;
      margin-bottom: 14px;
      padding: 0;
      width: 234px;
      height: 143px;
      background:white;
      img{
        position: absolute;
       top: 50px;
       right: 0px;
        display: block;
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }
      .t{
        text-align: left;
        width: 94px;
        height: 66px;
       position: absolute;
       left: 40px;
       margin-top: 50px;
    }
    }
    .bt{
      position: relative;
      margin-left: 14px;
      margin: 0;
      padding: 0;
      width: 234px;
      height: 143px;
    background: white;
    .b{
      position: absolute;
      left: 40px;
      margin-top: 50px;
   }
   h4{
    display: block;
    font-size: 18px;
    color: #333;
}
h5{
  margin-top: 5px;
  display: block;
  font-size: 12px;
  color: #757575;
 
 }
 a i{
  display: block;
  color: #ff6700;
  margin-left: 100px;
  margin-top:40px ;
  font-size: 40px;
}
  }
  }
}
 }
 }
 .view{
  width: 1226px;
  height: 299px;
  ul{
    float: left;
    .video{
      margin-left: 14px;
  }
  li{
    position: relative;
    width: 296px;
    height: 285px;
    margin-bottom: 14px;
    background: white;
    float: left;
    &:hover{
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    h3{
      margin: 0 14px 6px;
      margin-top:30px ;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: #333;
  }
  a  i{
    color: white;
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: 30px;
    &:hover{
      color:  #ff6700;
    }
  }
 
  p{
    height: 18px;
    text-align: center;
    margin: 0 14px;
    font-size: 12px;
    color: #b0b0b0;
    }
    }
    }
    }
    }
 }
 .footer{
width: 1349px;
margin: auto;
  height: 580px;
  .site-footer{
    height: 332px;
   background: white;
   .wraper{
    height: 332px;
    .service{
      border-bottom: 1px solid #e0e0e0;
      height: 79px;
      ul{
        float: left;
        li{
          position: relative;
      
          font-size: 16px;
          text-align: center;
          color: #616161;
          width: 245.2px;
          line-height: 80px;
          float: left;
          a em{
            font-size: 20px;
            margin-right: 5px;
        }
        &:hover a{
          color:  #ff6700;
         }
      }
      .xian:before{
        width: 1px;
        height: 25px;
        position: absolute;
        right: 5px;
        top: 25px;
        content: "";
        background: #e0e0e0;
    }
    }
  }
  .link{
    height: 252px;
    .link-left{
      float: left;
      width: 974px;
      height: 172px;
      padding: 40px 0;
      dl{
        width: 160px;
        height: 116px;
        float: left;
        dt{
          margin: -1px 0 26px;
          font-size: 14px;
          color: #424242;
       
      }
      dd{
        margin: 10px 0 0;
        font-size: 12px;
    }
    }
  }
  .link-right{
    float: right;
    width: 252px;
    height: 172px;
    padding: 40px 0;
    .position{
      position: relative;
      border-left: 1px solid #e0e0e0;
      width: 251px;
      height: 111px; 
      p{
        margin-left: 50px;
        font-size: 22px;
        color: #ff6700;
    }
    span{
      margin-left: 50px;
       font-size: 12px;
   }
   .box{
    margin-left: 53px;
    margin-top: 5px;
   text-align: center;
   line-height: 28px;
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    a{
      color: #ff6700 ;
  }
  
}
.ww{
  margin-left: 50px;
  margin-top: 8px;
  .wb{
    font-size: 20px;
    margin: 0 3px;
    &:hover{
      color:#ff6700 ;
  
  }
}
.wx{
  font-size: 20px;
  margin: 0 3px;
  &:hover{
    color:#ff6700 ;
}
&:hover img{
  display: block;
}
}
}
img{
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
   right: 50px;
  top: 120px;
}
  }
} 
  }
  }
}
.site-info{
  background: #fafafa;
  padding: 40px 0;
  height: 172px;
  .info{
    position: relative;
    margin: 0 auto;
    width: 1226px;
    height: 138px;
    .info-text{
      margin-left: 70px;
      color: #b0b0b0;
      font-size: 12px;
  
      a{
        color: #b0b0b0;
        &:hover {
          color:#ff6700 ;
      }
    }
    .sites{
      margin-bottom: 0px;
      a{
        color: #757575;
        &:hover {
          color:#ff6700 ;
      }
    }
  }
  }
  .logo {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background:#ff6700 ;
    position: absolute;
    top: 0;
    left: 0;
    i{
      display: block;
      margin-top: 10px;
     margin-left: 15px;
      font-size: 30px;
      color: white;
  }
  }
  .info-links{
    margin-top: 5px;
    margin-left: 70px;
}
}
.slo{
  color: #b0b0b0;
  clear: both;
  margin: 30px auto 0;
  height: 19px;
  line-height: 19px;
  width: 100%;
  height: 20px;
  font-size: 16px;
  text-align: center;
}
  }
}
.fix{
  position: fixed;
  right: 35px;
  top: 200px;
  ul li{
    width: 25px;
    height: 40px;
    border: 1px solid #f5f5f5;
    background: white;
    a{
      display: block;
      width: 20px;
      height: 20px; 
      img{
        width: 20px;
        height: 20px;
       color: #b0b0b0;
    }
  }
 } 
 ul  .lis{ 
  margin-top: 20px;
} 
}


  #mask{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.3);
    z-index: 100;
  }

    .agreement-box{
      display: none;
      width: 800px;
      height: 543px;
      position: fixed;
      top: 10px;
      left: 260px;
      background: #fff;
      border-radius: 2px;
      box-sizing: border-box;
      overflow: hidden;
      z-index: 200;
      .log-header{
        position: relative;
        height: 32px;
        padding: 14px 20px;
        line-height: 32px;
        background-color: #f5f5f5;
        span{
          font-size: 18px;
          font-weight: 400;
          color: #424242;
          vertical-align: middle
        }
        a{
          position: absolute;
          right: 14px;
          top: 14px;
          display: inline-block;
          font-size: 20px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          color: #757575;
          cursor: pointer;
          -webkit-transition: all .2s;
          transition: all .2s;
          z-index: 10;
          border-radius: 15px;
          &:hover{
            background-color: red;
          }
        }
      }
      .log-body{
        padding: 20px;
        height: 362px;
        .log-inner{
          height: 362px;
          .agree-tab{
            margin-left: 20px;
            margin-bottom: 20px;
            span{
              color: #ff6700;
              cursor: pointer
            }
          }
        }
        .con{
          // height: 300px;s
          max-height: 300px;
          overflow: auto;
          font-size: 14px;
          line-height: 24px;
          text-align: left;
          .J_con{
            background: #fff;
            padding: 20px 0 0 20px;
          }
        }
      }
      .log_footer{
        height: 40px;
        padding: 20px 0;
        border-top: 1px solid #e0e0e0;
        text-align: center;
        background-color: #f5f5f5;
        .btn{
          margin: 0 7px;
          display: inline-block;
            width: 158px;
            height: 38px;
            padding: 0;
            margin: 0;
            border: 1px solid #b0b0b0;
            font-size: 14px;
            line-height: 38px;
            text-align: center;
            color: #b0b0b0;
            cursor: pointer;
            -webkit-transition: all .4s;
            transition: all .4s;
        }
        button.btn, input.btn {
          width: 160px;
          height: 40px;
      }
      .btn-primary {
        background: #ff6700;
        border-color: #ff6700;
        color: #fff;
    }
    .btn-gray {
      background: #b0b0b0;
      border-color: #b0b0b0;
      color: #fff;
  }
      }
    }

  
  



