$w:1349px;
$auto:1226px;
.container{
  width:$auto;
  margin: auto;
}
.header{
   width: $w;
   height: 260px;
   overflow: hidden;
   .banner{
    width: 100%;
    height: 120px;
    position: relative;
    a{
      display: block;
      background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/375fc7ed8765a8f4c6a3abd91eb838a5.jpg?w=5120&h=240);
      position: absolute;
       top: 0;
       width: 100%;
       height: 120px;
       background-repeat: no-repeat;
       background-position: 50%;
       background-size: auto 120px;
       text-indent: -9999px;
   }
}
  
.site-topbar {
    width: 100%;
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
    .container{
      width:$auto;
      margin: auto;
      height: 40px;
      .topbar-nav{
        width: 794px;
        height: 40px;
        float: left;
        height: 40px;
        line-height: 40px;
        a{
          color: #b0b0b0;
          line-height: 40px;
          display: inline-block;
          &:hover{
            color:white;
          }
        }
        span{
          margin: 0 .3em;
          color: #424242;
   
        }
      }
      .topbar-cart{
        position: relative;
        float: right;
        width: 120px;
        height: 40px;
        margin-left: 15px;
        -webkit-transition: all .2s;
        transition: all .2s;
        font-size: 12px;
        a{
          color: #fff;
          background: #ff6700;
          position: relative;
          z-index: 32;
          display: block;
          height: 40px;
          line-height: 40px;
          text-align: center;
          &:hover{
            background-color: white;
            color:#ff6700 ;
          }
         em{
            margin-right: 4px;
            font-size: 20px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            vertical-align: -4px
          }
          .hide{
            display: none;
          }
        }
       
        }
        .topbar-info{
          position: relative;
          float: right;
          width: 142px;
          height: 40px;
          line-height: 40px;
          a{
            color: #b0b0b0;
            line-height: 40px;
            display: inline-block;
            &:hover{
              color: white;
            }
          }
          span{
                color: #424242;
          }
      }
      }
    }
  }
.site-header{
  height: 100px;
  .container{
    height: 100%;
    .header-logo{
      margin-top: 20px;
      position: relative;
      float: left;
      width: 55px;
      height: 55px;
      background-color: #ff6700;
      a{
        text-indent: -999px; 
      }
      em{
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 10;
        font-size: 30px;
        color: white;
      }
    }
    .header_nav{
      float: left;
      width: 850px;
      height: 100px;
      .nav-list{
        position: relative;
        z-index: 10;
        float: left;
        width: 1100px;
        height: 88px;
        margin: 0;
        padding: 12px 0 0 30px;
        list-style-type: none;
        font-size: 16px;
        margin-left: 100px;
        li{
          float: left;
          line-height: 100px;
          font-size: 16px;
          margin: 0 12px;
          color: black;
          &:hover{
              color:#ff6700 ;
          }
        }
        .header_search{
          float: right;
          width: 296px;
          margin-top: 25px;
        }
      }
    }
  }
}  



// // 变量 $+变量名
// $w:400px;
// $h:200px;
// $c:red;
// $len:50%*10; // 500%
// /* 标题样式 */
// h1{
//   width: $w;
//   height: $h;
//   color: $c;
//   background-color: #ccc;
// }

// // sass中的注释有两种
// // 1. // sass有的注释，不会被编译到css文件中
// // /* xxx */ 会被编译到css文件中

// // 嵌套语法
// .box{
//   width: $w;
//   background-color: lightblue;
//   h2{
//     font-size: 30px;
//     color: blue;
//   }
//   .show{
//     width: 300px;
//     height: 100px;
//     span{
//       color: red;
//     }
//     p{
//       color: yellow;
//     }
//   }
// }

// // & 指向父选择器
// a{
//   color: blue;
//   &:hover{
//     color: red;
//   }
// }
// .content{
//   width: 500px;
//   &-title{
//     color: red;
//   }
//   &-main{
//     color: blue;
//   }
// }

// // @import 引入外部样式
// @import 'header.scss';

// // @mixin 混合器
// @mixin nostyle {
//   list-style: none;
//   li{
//     padding: 0;
//     color: blue;
//   }
// }
// .list{
//   width: 500px;
//   @include nostyle;
// }

// // 混合器传参
// @mixin common($w,$h,$c) {
//   width: $w;
//   height: $h;
//   color: $c;
// }
// .box1{
//   background-color: #ccc;
//   @include common(500px,200px,red);
// }
// .box2{
//   padding: 10px;
//   @include common(300px,100px,blue);
// }

// // 继承
// .box3{
//   padding: 20px;
//   margin: 10px;
//   font-size: 20px;
// }
// .box4{
//   width: 500px;
//   background: pink;
//   @extend .box3;
// }


